.tableArrow{
    padding: 0px 10px;
}
.table-container {
    flex: .85;
    margin-right: 20px;
}

#add-holdings-button{
    margin-right: 0;
}

.product-company-logo {
    width: 50px;
}
table.MuiTable-root.MuiTable-stickyHeader tr th span {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #721c65;
    font-weight: 400;
}
ul.Trade-tabs {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0px 25px;
}
ul.Trade-tabs li{
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 2px solid #c9ccd0;

}
ul.Trade-tabs li.active {
    border-bottom: 2px solid #721c65;
    color: #721c65;
}
ul.Trade-tabs li span {
    border: 2px solid #c9ccd0;
    padding: 0px 4px;
    border-radius: 50%;
}
ul.Trade-tabs li.active span {
    background:  #721c65;
    color: #fff;
    border: 2px solid #721c65;
    padding: 0px 5px;
}
@media only screen and (max-width: 768px) {
    .table-container {
        margin-right: 0px !important;
    }
    .Table_title {
        margin-top: 15px;
    }
    .myholding-right-sec table tr td{
        padding: 5px 5px !important;
        font-size: 10px;
    }
    .myholding-right-sec table tr th {
        padding: 10px 15px !important;
        line-height: 1;
    }
    .myholding-right-sec table tr .secondary-button {
        font-family: 'Montserrat', sans-serif;
        font-size: 9px !important;
        padding: 0px 0px !important;
        width: 80px;
        height: 35px;
    }
    .myholding-right-sec table tr th .tableArrow {
        padding: 0px 5px;
    }
    .myholding-right-sec .company_name {
        margin: 0%;
        font-weight: 600;
        font-size: 11px;
    }
    .myholding-right-sec .Share_type{
        font-size: 10px;
    }
    .myholding-right-sec .myHoldings_id {
        font-size: 10px;
    }
    .myholding-right-sec table tr th span {
        font-size: 10px !important;
    }
    .myholding-right-sec table tr td img.mr-2{
        width: 25px;
    }
    .myholding-right-sec .company-logo-img img {
        width: 25px;
        height: 25px !important;
    }
    
}