.profile_widget_container {
  width: 100%;
  border: 1px solid #cfcbcf;
  border-radius: 7px;
  background: #fff;
}
.profile_widget_head {
  border-bottom: 1px solid #cfcbcf;
  width: 100%;
  font-weight: bold;
}
.profile_widget_head > p {
  margin-left: 15px;
}
.profile_widget_list {
  align-items: center;
}
.profile_widget_row.active {
  color: #721c65 !important;
  font-weight: 600;
  font-family: 'Montserrat';
  border-left: 3px solid;
}
.profile_widget_row {
  display: flex;
  padding: 5px 15px;
  cursor: pointer;
}
.profile_widget_row img {
  width: 25px;
}
.profile_widget_row_label {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
}
.profile_widget_row_part2 {
  margin-left: 10px;
  justify-content: center;
  cursor: pointer;
}
.profile_widget_head_name {
  padding-left: 20px;
}
@media only screen and (max-width: 1024px) {
  .profile_widget_row_label {
    margin-left: 5px !important;
    font-size: 10px !important;
  }
  }